.contact{
    text-align: center;
}

h2{
    text-align: center;
}

ul.footnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00b3b3;
    width: 100%;
    float: left;
    height: 100%;
}

ul.footnav li{
    display: inline-block;
    height: 35.2px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
}

ul.footnav li a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

#footer{
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #00b3b3;
    height: 100%;
    bottom: 0;
}

ul.nav li h1 a{
    color: white;
    text-decoration: none;
}

ul.nav{
    list-style-type: none;
    padding-left: 6%;
    font-size: 30px;
    font-family: 'Chathura';
    background-color: #00b3b3; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    float: left;
    z-index: 100000;
}

ul.nav-main{
    list-style-type: none;
    padding-left: 0;
    font-size: 30px;
    font-family: 'Chathura';
    background-color: #00b3b3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 42px;
    float: right;
    z-index: 100000;
}

#active{
    color: #99e0e0;
}

li.parent{
    display: inline-block;
    text-align: center;
    color: teal;
    opacity: 1.0;
}

li.parent a{
    color: white;
    display: inline-block;
    text-align: center;
    align-content: left;
    padding-left: 10px;
    text-decoration: none;
}

div.dropdown-content{
    display: none;
    position: absolute;
    width: 160px;
    background-color: #cc8d35;
    opacity: 1;
}

div.dropdown-content a{
    color: white;
    text-align: center;
    display: block;
    width: 160px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Chathura';
}

div.dropdown-content a:hover{
    opacity: 0.5;
}

li.parent:hover div.dropdown-content{
    display: block;
    position: absolute;
    z-index: 10;
}

body{
    color: black;
    font-size: 17px;
}