.header{
    color: black;
    }

ul.nav-main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Palatino Linotype', 'Book Antiqua3', 'Palatino6', serif;
    background-color: black;
    }

li.parent{
      display: inline-block;
      text-align: center;
      color: teal;
      opacity: 1.0;
    }
    li.parent a{
      color: white;
      display: inline-block;
      text-align: center;
      align-content: center;
      padding-left: 10px;
    }
    div.dropdown-content{
      display: none;
      position: absolute;
      min-width: 160px;
      background-color: black;
      opacity: 1;
    }
    div.dropdown-content a{
      color: white;
      text-align: center;
      display: block;
      width: 160px;
      text-decoration: none;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Palatino Linotype', 'Book Antiqua3', 'Palatino6', serif;
    }
    div.dropdown-content a:hover{
      background-color: #00cc99;
    }
    li.parent:hover div.dropdown-content{
      display: block;
      position: absolute;
      z-index: 10;
    }
    ul.banner{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li.banner-item{
      display: inline-block;
    }  
    body{
      color: black;
      font-size: 17px;
    }